body{
    background: #eee8ff;
}
#main{
    background: white;
    width:800px;
    height:615px;
    margin:0 auto;
    padding-top:10px;
}
.tit{
    font-weight: bold;
    font-size: 27px;
    text-align: center;
}
.blo{
    margin-top: 15px;
    margin-left: 140px;
    margin-bottom: 10px;
}
label{
    display: block;
    margin-bottom: 5px;
}
textarea{
    margin-top: 5px;
    width: 500px;
    border-radius: 5px;
    padding-left: 8px;
    font-size: 1em;
    height: 80px;
}
.ar{
    height: 130px;
}
.btn{
    background:#ff8e47;
    color:white;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    width: 200px;
    height: 32px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 140px;
    margin-bottom: 8px;
}
.tex{
    margin-top: 5px;
    height: 30px;
    width:400px;
    border-radius: 5px;
    border: 1px solid #ded4fc;
    padding-left: 8px;
}
