body,html{
    margin: 0;
    padding: 0;
    font-size: 100%;
}

#container{
    position: relative;
    margin: 0 auto;
    padding: 0;
}
#container>h1{
    font-size: 20px;
    color: #606d79;
    padding-left:30px;
    margin-bottom:0px;
}
#a-top{
    position: relative;
    background-size: 100%;
    width: 100%;
    height: 350px;

}


#a-bottom{
    display: flex;
    background-color:#fff;
    flex-flow: row wrap;
    align-items: center;
    justify-content:flex-start;
    clear: both;
}
.projects{
    margin: 20px 30px;
    max-height: 45em;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}
