<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../resources/css/main.css" />
    <link rel="stylesheet" type="text/css" href="../resources/css/watchUI.css" />
    <link rel="stylesheet" href="../resources/css/lib/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="../resources/js/lib/index.js"></script>
    <script src="../resources/js/lib/vue-resource.min.js"></script>

    <title>个人资料</title>
</head>

<body>
    <nav id="nav">
        <mw-nav v-bind:user="user" v-bind:cs="cs"></mw-nav>
    </nav>
    <article id="profile" class="mw-nav-wrapper" style="display: flex;flex-flow: row wrap;">
        <section class="profile-top">
            <p style="margin-left:20px;font-size: 1.8em;">Your Profile</p>
        </section>
        <div style="width: 100%;display: flex;">

            <section style="width: 65%;margin-left: 30px;display: flex;flex-flow: row wrap;padding-bottom: 20px;">
                <section class="pro-input-box">
                    <label for="name">Name</label>
                    <input id='name' name="name" placeholder="username" v-model="user.uUsername" type="text">
                </section>
                <section class="pro-input-box" style="width:45%">
                    <label for="email">Email</label>
                    <input id='email' name="email" placeholder="email" v-model="user.uEmail" type="text">
                </section>

                <section class="pro-input-box">
                    <label >Sex</label>
                    <el-select size="small" v-model="user.uSex" placeholder="Select">
                        <el-option name="female" key="female" label="female" value="female"></el-option>
                        <el-option name="male" key="male" label="male" value="male"></el-option>
                        <el-option name="unPublic" key="unPublic" label="unPublic" value="unPublic"></el-option>
                    </el-select>
                </section>
                <section class="pro-input-box">
                    <label>BirthDay</label>
                    <el-date-picker value-format="timestamp" v-model="user.uBirthday" type="date" placeholder="Pick a day">
                    </el-date-picker>
                </section>
                <section class="pro-input-box">
                    <label for="sig">Signature</label>
                    <textarea :value="user.uSignature" id="sig"></textarea>
                </section>
                <section class="pro-input-box">
                    <p class="update-button" @click="updateData">Update Profile</p>
                </section>

                <section style="width:100%;height:1px;background-color:rgb(230, 230, 230);margin-bottom:10px;"></section>
                <section class="pro-input-box">
                    <label for="password">Password</label>
                    <input id='password' name="password" placeholder="password" type="password">
                    <input style="margin-top: 15px;" id='repassword' name="repassword" placeholder="repassword" type="password">
                </section>
                <section class="pro-input-box">
                    <p class="update-button">Update Password</p>
                </section>
            </section>
            <section style="width: 30%;">
                <div style="margin-top: 30px;margin-left: 50px;">
                    <h4>Profile picture</h4>
                    <div class="profile-photo">
                        <img width="200px" height="200px" :src="user.uAvater">
                    </div>
                    <label for="fileup" class="upload-text">
                        Upload new picture
                    </label>
                    <input id="fileup" type="file" class="upload-button">

                </div>
            </section>

        </div>
    </article>
</body>
<script src="../resources/js/watchUI.js"></script>
<script src="../resources/js/profile.js"></script>

</html>