<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改项目信息</title>
    <link href="../../resources/css/watchUI.css"  type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="../../resources/css/lib/index.css">
    <link rel="stylesheet" href="../../resources/css/main.css">
    <link href="../../resources/css/change.css" type="text/css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="../../resources/js/lib/index.js"></script>
    <script src="../../resources/js/jquery-3.3.1.js"></script>
    <script src="../../resources/js/lib/vue-resource.min.js"></script>
    <script>
        $(document).ready(function () {
            var url=window.location.href;
            var id=url.substr(url.lastIndexOf('/')+1,url.length);
            $.get("/project/data/"+id,function (data,status) {
                // alert(data+"\n"+status);
                $("#des").val(data.pContext);
                $("#pro_name").val(data.pName);
                var image=new Image();
                image.src = data.pPreview;
                image.onload=function () {
                    $("#image").attr('src',data.pPreview)
                    $('#image').attr('style','width:'+300*(image.width/image.height)+'px')
                }
            })
        });
 
        $(document).ready(function () {
            var formdata=new FormData();
            formdata.append("file",this.file);
            formdata.append("project",JSON.stringify(this.project))
            $.post('/project', formdata,
                {
                    processData: false,       //必不可缺
                    contentType: false,
                },
            function(data,status){
                alert("Data: " + data + "Status: " + status);
            });

        })

    </script>
</head>
<body>
<nav id="nav">
   <mw-nav v-bind:user="user" v-bind:cs="cs" :ok="ok"></mw-nav>
</nav>
<div id="main">
        <center><session class="tit">修改项目信息</session></center>
<hr>
    <section class="blo">
        <label for="pro_name">项目名</label>
        <input class="tex" id="pro_name" placeholder="修改项目名">
    </section>
    <section class="blo">
        <label for="des">项目描述</label>
        <textarea class="ar" id="des" name="des" placeholder="修改项目描述"></textarea>
    </section>
    <section class="blo">
        <label>预览图</label>
        <div class="avatar-uploader">
            <label for="test" tabindex="0" class="el-upload el-upload--text">
                <!--<img  src="project.pPreview" class="up-pre-photo" :style="{width:width+'px'}">-->
                <img  src="" class="up-pre-photo" id="image">
                <!--<input @change="upload" id="test" type="file" name="file" class="el-upload__input" onchange="upload(this)">-->
                <input id="test" type="file" name="file" class="el-upload__input" onchange="upload(this)">
            </label>
        </div>
    </section>
    <a href="/proData/{pId}"><input type="submit" class="btn" id="btn" value="确认修改" ></a>
<hr>
    <div id="invitation">
        <h3>当前协作者：</h3>
        <el-tag
                :key="tag"
                v-for="tag in dynamicTags"
                closable
                :disable-transitions="false"
                @close="handleClose(tag)">
            {{tag}}
        </el-tag>
        <el-input
                class="input-new-tag"
                v-if="inputVisible"
                v-model="inputValue"
                ref="saveTagInput"
                size="small"
                @keyup.enter.native="handleInputConfirm"
                @blur="handleInputConfirm"
        >
        </el-input>
        <el-button v-else class="button-new-tag" size="small" @click="showInput">+ 添加协作者</el-button>
    </div>
    <!--<form>-->
        <!--<section class="blo">-->
            <!--<label for="per">添加协作者</label>-->
            <!--<input class="tex" type="text" id="per" name="per" placeholder="输入要添加的协作者的名字">-->
        <!--</section>-->
        <!--<input type="submit"  class="btn" value="确认添加" >-->
    <!--</form>-->
</div>
<script>
    var image = '';
    function upload(file) {
        if (!file.files || !file.files[0]) {
            return;
        }
        var reader = new FileReader();

        reader.onload = function (event) {
            document.getElementById('image').src = event.target.result;
            var image=new Image();
            image.src = event.target.result;
            image.onload=function () {
                console.log(image.width/image.height)
                $('#image').attr('style','width:'+300*(image.width/image.height)+'px')
            }

        }
        reader.readAsDataURL(file.files[0]);
    }


    var t=new Vue({
        el: '#invitation',
        data: {
            pid: null,
            dynamicTags: [],
            invitedUser: [],
            inputVisible: false,
            inputValue: ''
        },
        methods: {
            handleClose(tag) {
                var index = this.dynamicTags.indexOf(tag)
                var uId = this.invitedUser[index].uId
                this.$http.delete('/invitation/'+this.pid+'/'+uId
                ).then((response)=>{
                    console.log('删除成功！')
                })
                this.dynamicTags.splice(index, 1);
            },

            showInput() {
                this.inputVisible = true;
                this.$nextTick(_ => {
                    this.$refs.saveTagInput.$refs.input.focus();
                });
            },

            handleInputConfirm() {
                let inputValue = this.inputValue;
                if (inputValue) {
                    this.$http.post('/invitation/'+this.pid+'/'+inputValue
                    ).then((response)=>{
                        if (response.data==1){
                            this.dynamicTags.push(inputValue);
                            console.log('添加成功!')
                        }
                        else {
                            console.log('添加失败！')
                        }
                    })
                }
                this.inputVisible = false;
                this.inputValue = '';
            }
        },
        created(){
            var url=window.location.href;
            var pid=url.substr(url.lastIndexOf('/')+1,url.length);
            this.pid = pid
            this.$http.get('/invitation/'+pid
                ).then((response)=>{
                this.invitedUser = response.data
                for (i of this.invitedUser){
                    this.dynamicTags.push(i.uUsername)
                }
            })
        }
    })
</script>
</body>
<script src="../resources/js/watchUI.js"></script>

</html>
