<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>模型展览</title>
    <link rel="stylesheet" type="text/css" href="../../resources/css/main.css" />
    <link rel="stylesheet" type="text/css" href="../../resources/css/watchUI.css" />
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../../resources/css/lib/index.css">

    <!-- 引入组件库 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="../../resources/js/lib/index.js"></script>
    <script src="../../resources/js/lib/vue-resource.min.js"></script>
    <script src="../../resources/js/lib/three.min.js"></script>
</head>

<style>
    .tempAvater{
        width: 60px;
        height: 60px;
        float: left;
        border-radius: 50%;
        border: 2px solid white;
        overflow: hidden;
        cursor: pointer;
        z-index: 10000;
    }
    #comments>div{
        border-bottom: 1px solid #e1e1e1;
        padding-bottom: 20px;
    }
    #comments div{
        margin: 10px 20px;
    }
</style>
<body>
    <div id="nav" @mouseenter="isActive=true" @mouseleave="isActive=false">
        <div style="z-index: 10000" class="nav-wrapper moveable" :class={active:isActive}>
            <mw-nav :user="user" :cs="cs" :ok="ok"></mw-nav>
        </div>
        <div style="height: 60px;opacity:0;position:absolute;width: 100%;"></div>
    </div>
    <div id="view" :style="{width:width+'px',height:height+'px'}" style="overflow: hidden">
        <div class="leftbar moveable" :style="{transform:transform}">
            <!-- <div  class="leftbar moveable" > -->
            <el-tree :data="components" :props="defaultProps" ></el-tree>
        </div>
        <article id="3dcanvas" style="background: rgb(231, 231, 231);" onmousewheel="mousescale(event)" onmousedown="pushControl(event)"
            onmouseup="upControl(event)" onmouseleave="moveclean()" @click="cast" @dblclick="dcast">
        </article>

        <!-- <div class="rightbar" :style="{opacity:opacity}" @mouseover="opacity=1" @mouseleave="opacity=0" > -->
        <div class="rightbar" style="opacity: 1">
            <a title="切换模式" :href="'/model/edi/'+model.mId">
                <div class="mw-icon transbutton"></div>
            </a>
            <div title="收藏" @click="mark">
                <div class="mw-icon" :class="{lovebutton:!markInfo,dislovebutton:markInfo}"></div>
            </div>
            <!--<div title="下载" @click="downloadModel">-->
                <!--<div class="mw-icon downloadbutton"></div>-->
            <!--</div>-->
            <a :href="model.mData" download="model">
                <div title="下载">
                    <div class="mw-icon downloadbutton"></div>
                </div>
            </a>
        </div>
    </div>
    <div id='comments' style="background: #ffffff;">
        <div style="display: flex;padding-top: 20px;padding-left: 20px;width: 80%;margin: 0 auto;align-items: center;justify-content: center">
            <div  class="tempAvater" >
                <img :src="user.uAvater" width="60px" height="60px">
            </div>
            <el-input
                    style="width: 50%;"
                    type="textarea"
                    :rows="3"
                    placeholder="请输入内容"
                    v-model="newComments">
            </el-input>
            <el-button style="height: 80px;" type="primary" plain @click="review">发表评论</el-button>
        </div>
        <!--<div style="display: flex;padding-left: 20px;width: 80%;margin: 0 auto;align-items: center;justify-content: center">-->
            <!--<div  class="tempAvater"  >-->
                <!--<img :src="user.uAvater" width="60px" height="60px">-->
            <!--</div>-->
            <!--<div style="width: 50%;">-->
                <!--<h5 style="margin: 10px 0px;">大锅<span style="color: #b9b9b9;">&nbsp;&nbsp;2011-11-01</span></h5>-->
                <!--<p>真实和精彩</p>-->
            <!--</div>-->
        <!--</div>-->
        <mw-comment v-for="comment in comments" :name="comment.user.uUsername"
                    :avater="comment.user.uAvater" :time="comment.comCreateTime"
                    :content="comment.comContent">
        </mw-comment>
    </div>
</body>
<!-- 顶点着色器 -->
<script type="x-shader/x-vertex" id="vertexshader">
    varying vec3 fragNormal;
    varying vec3 rimNormal;
    uniform vec3 directLight;
    
        void main() {
            fragNormal=normalize(normalMatrix*normal);
            gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
            vec3 viewNormal=normalize(cameraPosition);
            rimNormal=normal;
        }
</script>

<!--片元着色器程序-->
<script type="x-shader/x-fragment" id="fragmentshader">
    uniform vec3 directLight;
    uniform mat3 normalMatrix;
    varying vec3 rimNormal;

    varying vec3 fragNormal;
    void main()
    {
        vec3 normalDLight=normalize(normalMatrix*directLight);

        float diffuseStrength=dot(normalDLight,fragNormal);
        diffuseStrength=clamp(diffuseStrength,0.0,1.0);

        vec3 ambient=vec3(0.1);
        vec4 finalLightStrength=vec4(ambient+diffuseStrength,1.0);

        vec3 cnorml=normalize(cameraPosition);
        float rim=1.0-max(dot(rimNormal,cnorml),0.0);
        vec4 rimColor=vec4(vec3(0.9,0.9,0.0)*pow(rim,1.4),1.0);
        

        vec4 color=vec4(0.5,0,0.5,0.8);
        gl_FragColor=finalLightStrength*color+rimColor;
    }
</script>
<script src="../../resources/js/watchUI.js"></script>
<script src="../../resources/js/modelControl.js"></script>
<script src="../../resources/js/display.js"></script>
<script>

    const comments = new Vue({
        el:'#comments',
        data:{
            newComments:'',
            user:{
                uAvater:'/resources/upload/useravater/1.jpeg',
                uId:'',
            },
            comments:[{
                comUid:'1',
                comUAvater:'/resources/upload/useravater/1.jpeg',
                comUsername:'王虎',
                comContent:'这模型做得真精致',
                comCreateTime:'2011-1-1',
            }]
        },
        created:function() {
            var url = window.location.href;
            var id = url.substr(url.lastIndexOf('/') + 1, url.length);
            this.$http.get('/model/' + id + '/comments').then((response) => {
                this.comments = response.data
            })
            this.$http.get('/user/').then((response) => {
                this.user = response.data;
            })
        },
        methods:{
            review(){
                var url = window.location.href;
                var id = url.substr(url.lastIndexOf('/') + 1, url.length);
                this.$http.post('/model/comment',{
                    comContent:this.newComments,
                    comUId:this.user.uId,
                    comMId:id,
                }).then((response) => {
                    if(response.data == true) alert("评论成功，请等待管理员审核");
                    else alert("评论失败，存在异常操纵")
                })
            }
        }
    })
</script>

</html>