<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>项目</title>
    <link href="../../resources/css/project.css" type="text/css" rel="stylesheet">
    <link href="../../resources/css/watchUI.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="../../resources/css/lib/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="../../resources/js/jquery-3.3.1.js"></script>
    <script src="../../resources/js/lib/index.js"></script>
    <script src="../../resources/js/lib/vue-resource.min.js"></script>
    <script>
        $(document).ready(function () {
            var url=window.location.href;
            var id=url.substr(url.lastIndexOf('/')+1,url.length);
            $.get("/project/data/"+id,function (data,status) {
                // alert(data+"\n"+status);
                $("#desShow").text(data.pContext);
                $("#proname").text(data.pName);
            })
        });
        $(document).ready(function(){
            var url=window.location.href;
            var id=url.substr(url.lastIndexOf('/')+1,url.length)
            $.get("/user/data/"+id,function (data,status) {
                // alert(data+"\n"+status);
                $("#creater").text(data.uUsername);
                // $("#adder").text(data.uId);
            })
        })
        // $(document).ready(function(){
        //     var url=window.location.href;
        //     var id=url.substr(url.lastIndexOf('/')+1,url.length)
        //     $.get("/invitation/"+id,function (data,status) {
        //         // alert(data+"\n"+status);
        //         $("#adder").text(data.pId);
        //     })
        // })
        $(document).ready(function(){
            var url=window.location.href;
            var id=url.substr(url.lastIndexOf('/')+1,url.length)
            $.get("/project/diary/"+id,function (data,status) {
                // alert(data+"\n"+status);
                for(var i=0;i<data.length;i++){
                    // alert(data[i].lContext);
                    // $(".inner").text(data.lContext);
                    // $(".dat").text(data.lTime);
                    var str = "<section class=\"blo\">\n" +
                        "                        <section class=\"inner\">"+data[i].lContext+"</section>\n" +
                        "                    <section class=\"dat\">"+data[i].lTime+"</section>\n" +
                        "                    </section>";
                    $("#diary").append(str);
                // <section class="blo">
                //         <section class="inner">内容......完成了.......增加了......修改了........</section>
                //     <section class="dat">xx年xx月xx日 xx:xx</section>
                //     </section>
                }
            })
        })
    </script>
    <!--滚动条-->
    <style type="text/css" rel="stylesheet">
        ::-webkit-scrollbar {
            width: 14px;
            height: 14px;
        }
        ::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
            border-radius: 999px;
            border: 5px solid transparent;
        }
        ::-webkit-scrollbar-thumb {
            min-height: 20px;
            background-clip: content-box;
            box-shadow: 0 0 0 5px rgba(0,0,0,.2) inset;
        }
    </style>
</head>
<body>
<nav id="nav">
    <mw-nav v-bind:user="user" v-bind:cs="cs" :ok="ok"></mw-nav>
</nav>
<div class="container">
    <div id="a-total">
        <div class="a-left">
            <!--项目信息-->
            <!-- 创建者 协作者（添加邀请）更改信息-->
            <div class="info">
                <table style="margin-top: 30px;margin-bottom: 30px;">
                    <tr>
                        <td>
                            <div title="创建者">
                                <div class="mw-icon user"></div>
                            </div>
                        </td>
                        <td class="hh" id="creater">创建者xxx</td>
                    </tr>
                    <!--<tr>-->
                        <!--<td>-->
                            <!--<div title="协作者">-->
                                <!--<div class="mw-icon co-user"></div>-->
                            <!--</div>-->
                        <!--</td>-->
                        <!--<td class="hh" id="adder">协作者yyy</td>-->
                    <!--</tr>-->
                </table>
                <article class="dis">
                    <section class="hh">项目描述:</section>
                    <section id="desShow" class="hhh">xxx项目是一个非常强大的3D模型展示平台，适合...各种行业使用，在这里你可以 ...你可以...你还可以...</section>
                    <a href="/proData/1"><input id="btn2" type="button" value="修改" ></a>
                </article>
            </div>
        </div>
        <div id="a-middle">
            <div class="bac">
                <table>
                    <tr>
                        <td><header class="tit" id="proname">xel项目</header></td>
                        <td>
                            <div title="关注">
                                <div class="mw-icon love"></div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="projects">
                <mw-photo  v-for="project in projects" :name="project.name" :time="project.time" :img_url="project.preview_url" height="300px" redirect="/model/dis/1"></mw-photo>
                <div class="addModel">
                    <div class="add" @click="dialogVisible = true">
                        <span>+</span>
                    </div>
                </div>
            </div>
            <el-dialog
                    title="新建一个模型"
                    :visible.sync="dialogVisible"
                    width="30%"
                    :before-close="handleClose">
                <!--<input type="text" :model="modelName" placeholder="请输入模型名字">-->
                <el-form label-width="80px">
                    <el-form-item label="模型名字">
                        <el-input v-model="modelName" placeholder="请输入模型名字"></el-input>
                    </el-form-item>
                </el-form>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="dialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="addModel">确 定</el-button>
                </span>
            </el-dialog>

        </div>
        <div class="a-right">
            <!--项目日志-->
            <div id="diary">
                <h1 align="center">项目日志</h1>
                <!--<section class="blo">-->
                    <!--<section class="inner">内容......完成了.......增加了......修改了........</section>-->
                    <!--<section class="dat">xx年xx月xx日 xx:xx</section>-->
                <!--</section>-->
                <!--<section class="blo">-->
                    <!--<section class="inner">内容......完成了.......增加了......修改了........</section>-->
                    <!--<section class="dat">xx年xx月xx日 xx:xx</section>-->
                <!--</section>-->
                <!--<section class="blo">-->
                    <!--<section class="inner">内容......完成了.......增加了......修改了........</section>-->
                    <!--<section class="dat">xx年xx月xx日 xx:xx</section>-->
                <!--</section>-->
                <!--<section class="blo">-->
                    <!--<section class="inner">内容......完成了.......增加了......修改了........</section>-->
                    <!--<section class="dat">xx年xx月xx日 xx:xx</section>-->
                <!--</section>-->
            </div>
        </div>
    </div>

</div>
</body>
<script src="../../resources/js/watchUI.js"></script>
<script src="../../resources/js/project.js"></script>
</html>

